<div class="container">
  
</div><div class="col">
    <a href="/">
      <img src="/media/Cat-404.jpg" 
      alt="404" 
      style="
        width:100%;
        height:100%
      ";>
    </a>
  </div>
